---
import { formatDate, slugify } from "@/utils";
import { Image } from "astro:assets";
const { frontmatter, url, tagType } = Astro.props;
const Tag = tagType;
const { title, date, image, description, category } = frontmatter;
---

<article
  class="card bg-base-300 card-compact max-w-[90vw] sm:max-w-96 shadow-[0_0_30px_rgba(0,0,0,0.1)] shadow-primary/10 sm:my-6 my-3 space-y-8 post-card"
>
  <small class="w-full mt-6 ml-6">
    <a
      href={`/category/${slugify(category)}/`}
      class="badge badge-outline hover:bg-accent hover:text-base-300 hover:border-transparent badge-accent"
      >{category}</a
    >
  </small>
  <a href={url} tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      class="w-full"
    />
  </a>
  <div class="card-body">
    <div>
      <Tag class="card-title">
        <a href={url} class="link link-hover link-primary">{title}</a>
      </Tag>
      <small>
        {formatDate(date)}
      </small>
    </div>
    <p>{description}</p>
    <a href={url} class="btn btn-outline btn-neutral w-fit btn-sm">Read Post</a>
  </div>
</article>
