---
import CategoryCloud from "@/components/CategoryCloud.astro";
import PostHeader from "@/components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;

const { title, description, date, category, image } = frontmatter;
---

<MainLayout
  {title}
  {description}
  image={frontmatter.image}
  {frontmatter}
  robots={frontmatter.robots}
>
  <PostHeader {category} {title} {date} {image} />
  <div
    class="flex flex-col md:flex-row justify-between md:items-start items-center max-w-screen-lg"
  >
    <div
      class="prose dark:prose-invert
      prose-h1:font-bold prose-h1:text-2xl
      prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline
      prose-p:text-justify prose-p:leading-relaxed
      prose-img:rounded-xl
      prose-headings:
      max-w-5xl md:my-8 px-6 bg-base-100 rounded-lg md:w-2/3"
    >
      <slot />
    </div>
    <div class="md:w-1/3">
      <aside class="mb-6 py-4">
        <h2 class="text-center text-2xl font-bold">Blog Categories</h2>
        <CategoryCloud />
      </aside>
    </div>
  </div>
</MainLayout>
